<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Robot position</title>
  <style>
    textarea {
      width: 100vw;
      height: 70vh;
    }

    textarea, input {
      font-size: 2vh;
    }

    input {
      min-width: 5vw;
    }
  </style>
</head>
<body>
<form action="#" th:action="@{/robotposition}" method="post" th:object="${formData}">
  <p>
    <label for="script">
    <textarea id="script" th:name="script">
POSITION 1 3 EAST //sets the initial position for the robot
FORWARD 3 //lets the robot do 3 steps forward
WAIT //lets the robot do nothing
TURNAROUND //lets the robot turn around
FORWARD 1 //lets the robot do 1 step forward
RIGHT //lets the robot turn right
FORWARD 2 //lets the robot do 2 steps forward
    </textarea>
    </label>
  </p>
  <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>
